.id-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.id-block {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.id-title {
    text-align: left; 
    padding: 15px;
    background-color: #555555;
    font-size: 16px; /* Размер шрифта заголовка */
    margin-bottom: 0; /* Убран отступ снизу */
    font-weight: 600;

    align-items: center; /* Центрирование вертикально */
    display: flex;
}

.id-title span {
padding-left: 10px;
}

.id-item {
    display: flex;
    justify-content: space-between; /* Равномерное распределение между элементами */
    align-items: center; /* Центрирование вертикально */
    padding: 0%;
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #555555;
}