.main-header {
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    background-color: #333333;

    margin: 10px;
    border-radius: 20px;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Manrope', sans-serif;
}

button {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 10px;

    border-radius: 15px;
}

footer {
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 10px;
    opacity: 0.5;
}

.footer-text {
    padding-bottom: 20px;     
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 10px;
    opacity: 0.5;
}

#numerator-btn {
    background-color: #007bff; /* Цвет активной кнопки (синий) */
    color: #ffffff;
}

#denominator-btn {
    background-color: #ffffff; /* Цвет неактивной кнопки (белый) */
    color: #333333;
}


.button-container {
    justify-content: center;
    position: relative;
    display: inline-block;

    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.inactive-button {
    background-color: #ffffff; /* Цвет неактивной кнопки (белый) */
    color: #333333;

    transition-timing-function: ease-in-out;
    transition-duration: 0.1s; 
}

.additional-button {
    background-color: #555555; /* Цвет неактивной кнопки */
    color: #ffffff;

    transition-timing-function: ease-in-out;
    transition-duration: 0.1s; 
}

.additional-button:hover {
    background-color: #666666;
}

.active-button {
    background-color: #007bff; /* Цвет активной кнопки (синий) */
    color: #ffffff;

    transition-timing-function: ease-in-out;
    transition-duration: 0.1s; 
}


.num-notification {
    /*width: 12px;*/
    height: 15px;
    background-color: #00c825;
    position: absolute;
    border-radius: 50%;
    
    top: -13px;
    right: 154px;
    display: none; /* Изначально скрыт */
}

.den-notification {
    /*width: 12px;*/
    height: 15px;
    background-color: #00c825;
    position: absolute;
    border-radius: 50%;

    top: -13px;
    right: -2px;
    display: none; /* Изначально скрыт */
}


.alpha50 {
    opacity: 0.5;
}