.story {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-right: 0px;
    cursor: pointer;
}

.story.unviewed {
    box-sizing: border-box;
    box-shadow: 0 0 0 4px #007bff; /* 2 пикселя внутренний отступ, красный цвет */
    border: 4px solid #1e1e1e;
    padding: 10px;
}

.story.viewed {
    box-sizing: border-box;
    box-shadow: 0 0 0 2px rgb(93, 93, 93); /* 2 пикселя внутренний отступ, красный цвет */
    border: 4px solid #1e1e1e;
    padding: 10px;
}

.stories-block {
    flex-grow: 1; /* Расширение блока для заполнения пустых пространств */

    margin-bottom: 20px;
    margin: 10px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
}