
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    overflow: hidden;
    background-color: #1e1e1e; 
}


.slide-container {
    display: flex;
    width: 500%; 
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background-color: #1e1e1e;
    overflow: hidden;
}

.slide {
    flex: 20%;
    height: 100%; 
    overflow: hidden;
    position: relative;
    color: #ffffff; 
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.slide-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 58px;
    background-color: #1e1e1e;
    padding: 50px;
    box-sizing: border-box;
    padding-bottom: 475px;
}

.slide-text p {
    margin: 0;
}

.nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none; 
}

.nav-button {
    padding: 20px;
    pointer-events: all;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff; /* Белый цвет для кнопок */
}

.footer-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0077ff; /* Цвет кнопки */
    color: #ffffff; /* Белый цвет текста на кнопке */
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 36px;
    padding: 30px;

    width: 90%;
}

.footer-button:hover {
    background-color: #0065fc; /* Измененный цвет при наведении */
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s; /* добавляем длительность перехода */
}


.slide-indicator {
    top: 10px;
    display: flex;
    justify-content: center;

    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.indicator-dot {
    width: 160px;
    height: 7px;
    border-radius: 10px;
    background-color: #ffffff; /* Белый цвет точек */
    opacity: 0.5; /* Прозрачность 50% */
    cursor: pointer;

    margin: 5px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.indicator-dot.active {
    opacity: 1; /* Активная точка полностью непрозрачная */

    background-color: #ffffff;
    animation: fill 7s linear;
}


@keyframes fill {
    from {
      width: 0;
    }
    to {
      width: 160px;
    }
  }
  
  
  

.alpha {
    opacity: 0.3;
}
